.page .page2 {
  position: absolute;
}

.page-enter-active {
  animation: fade-in 1s forwards;
}

.page2-enter-active {
  animation: fade-in2 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
